html,body,header,menu,footer{
  background-color:#1a2434;
  color:white;
  font-family:'Opens Sans',helvetica;
  height:100%;
  width:100%;
  margin: 0px;
}

@keyframes animation_main {

  0% {background-image: url(images/quindianos_10.jpeg);}
  50% {background-image: url(images/quindianos_11.jpeg);}
  70% {background-image: url(images/quindianos_9.jpeg);}

}

.wrapper {

  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-template-rows: 1fr 10fr 5fr;
  column-rule-color: rgb(4, 95, 4) yellow rgb(53, 1, 33);
  gap: 0px;
}

/* Style the navbar */
#navbar {
  padding: 15px;
  overflow: hidden;
  background-color: white;
}

/* Navbar links */
#navbar a {
  padding: 10px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navbar a:hover {
  background-color: green;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Page content */
.content {
  padding: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .main_tablas {
  padding-top: 60px;
}

.header{

  padding: 30px; 
  font-size: large;
  color:black;
  background-color: white;
  background-position: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  border-bottom: #1a2434;
  /*border-radius: 20px;*/
}

/*.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.main {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  grid-column: 1/3;
  background-image: url(images/quindianos_9.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position:relative;
  border-style:solid;
  border-color: #1a2434;
  animation-name: animation_main;
  animation-duration: 10s;
  /*border-radius: 20px;*/

}

.menu{

  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 25px;
  grid-template-rows: 1;
  color:white;
  width: 500px;
  height: 70px;
  opacity: 0;
  border-radius: 0px 0px 20px 20px;
  border-style:solid;
  border-right-color: #1a2434;
  border-bottom-color: #1a2434;
  border-left-color: #1a2434;
  background-color: white; /*rgb(12, 37, 37);*/
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.header i{

  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.escudo{
 
  padding-left: 32px; 
  background-size: contain;
  background-position:center;
  background-color: white;
  height: 100%;
  width: 100%;
  position:relative;
  background-repeat:no-repeat;
  background-image: url(images/quindianos_escudo_reducido3.png);
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.header_contact{

  padding: 30px;
  font-size: large;
  color:black;
  background-color: white;
  background-position: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  border-bottom: #1a2434;
  /*border-radius: 20px;*/
}

.aside{

  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(2, auto);
  background-color: white;
  width: 100%;
  height: 100%;
  position:relative;
  border-style:solid;
  border-color: #1a2434;
}

.escudo_quindianos_marcador{

  grid-column: 1;
  grid-row: 2;
  padding-top: 10px;
  background-image: url(images/quindianos_escudo_reducido3.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.escudo_caldas_marcador{

  grid-column: 2;
  grid-row: 2;
  padding-top: 10px;
  background-image: url(images/Escudo_Oficial_Once_Caldas.png);
  background-size:auto;
  background-repeat: no-repeat;
}

.footer{

  text-align: center; 
  font-size: large;
  grid-row: 3;
  grid-column: 1/4;
  background-color: white !important;
  /*border-radius: 20px;*/
}

.main_contact {

  background: url(images/quindianos_10.jpeg);
  border-radius: 20px;
  grid-column: 1/5;
  grid-row: 2/4;
  text-align: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 100%;
  width: 100%;  

}

.main_tablas {

  background: url(images/quindianos_11.jpeg);
  border-radius: 20px;
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 100%;
  width: 100%;  

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

  display: grid;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 1/4;
  width: 800px;
  height: 600px;
  /*max-width: 1000px;*/
  position:static;
  margin: auto;
  background-size: contain;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 768px){

  .wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr 5fr 5fr;
    column-rule-color: rgb(4, 95, 4) yellow rgb(53, 1, 33);
    gap: 0px;
  }
  .escudo{
  
    padding-left: 250px;
    background-size: contain;
    background-image: url(images/quindianos_escudo_reducido3.png);
    text-align: center;
  }

  .main {

    display: flex;
    flex-wrap: wrap;
    background: url(images/quindianos_9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    position:relative;
    border-radius: 20px;
  
  }

  .aside{
    grid-row: 3;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 480px){
  
  
}